@import url('https://assets.pokemon.com//assets/cms2-es-es/img/misc/virtual-backgrounds/masters/canyon.jpg');

body{
    font-family: "Pixelify Sans", sans-serif;
    background-image: url("assets/pokemon.jpg");
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    z-index: -1; /* Asegura que la imagen esté detrás del contenido */    
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: #03045e;
    font-size: 80px;
    
}

.subtitulo{
    color: #03045e;
    font-size: 30px;
    background-color: rgb(189, 224, 254, 0.7);
    border: 1px solid black;
    border-radius: 20px;
    width: 280px;
    padding-left: 10px;
}

.tarjetas{
    display: flex;
    gap: 5px;
}

.tarjeta-de-mokepon{
    box-sizing: border-box; /*Mantiene las dimensiones de la Caja */
    width: 300px;
    height: 300px;
    background:#b8babb75;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #03045e;
    flex-direction: column;
}

.tarjeta-de-mokepon img{
    width: 200px;
    border-radius: 20px;
}

.tarjeta-de-mokepon p{
    font-size: 25px;
}

input{
    display: none;
}

#boton-mascota{
    box-sizing: border-box;
    width: 130px;
    height: 40px;
    background-color: chartreuse;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.boton-ataque{
    background-color: chartreuse;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 120px;
    font-size: 20px;
}

#resultado{
    width: 200px;
    background-color: rgb(189, 224, 254, 0.7);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #03045e;
}

#boton-reiniciar{
    box-sizing: border-box;
    width: 130px;
    height: 40px;
    background-color: chartreuse;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

.ataques{
    display: grid;
    grid-template-columns: 100px 100px;
    text-align: center;
    text-align: center;
}

.boton-ataque:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.boton-ataque:not(:disabled):hover {
    transform: scale(1.05);
    transition: transform 0.2s;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

#boton-reiniciar:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}